In [3]:
import pandas as pd
import numpy as np

In [3]:
# Pandas DataFrame program showing 
# Scores, and grades from assignments
course_tuple = (
    {"Course" : "Intro to Data-Science", "Score" : 95, "Grade" : "A"},
    {"Course" : "Python Basics", "Score" : 85, "Grade" : "B"},
    {"Course" : "Python Basics", "Score" : 90, "Grade" : "A"},
    {"Course" : "Control Structures & Collections", "Score" : 80, "Grade" : "B"},
    {"Course" : "Control Structures & Collections", "Score" : 83, "Grade" : "B"},
    {"Course" : "Control Structures & Collections", "Score" : 80, "Grade" : "B"},
    {"Course" : "Python Collections", "Score" : 90, "Grade" : "A"},
    {"Course" : "Python Collections", "Score" : 79, "Grade" : "C"},
    {"Course" : "Functions", "Score" : 85, "Grade" : "B"},
    {"Course" : "Functions & Random Numbers", "Score" : 80, "Grade" : "B"},
    {"Course" : "Python Basics", "Score" : 96, "Grade" : "A"},
    {"Course" : "Lambda Functions & Generators", "Score" : 88, "Grade" : "B"},
    {"Course" : "NumPy", "Score" : 98, "Grade" : "A"},
    {"Course" : "NumPy", "Score" : 95, "Grade" : "A"},
    {"Course" : "NumPy & Pandas", "Score" : 92, "Grade" : "A"},
    {"Course" : "Pandas", "Score" : 80, "Grade" : "B"},
    {"Course" : "Pandas", "Score" : 95, "Grade" : "A"}

)

uche_df = pd.DataFrame(course_tuple, index = ["Discussion1", "Assignment2", 
                       "Discussion2", "Assignment2", "Discussion3", 
                       "Assignment3", "Discussion 4", "Assignment4", 
                       "Discussion5", "Assignment5", "Discussion6", 
                       "Assignment6", "Discussion7", "Assignment7", 
                       "Discussion8", "Discussion9", "Assignment9"] )

In [4]:
uche_df

                                        Course  Score Grade
Discussion1              Intro to Data-Science     95     A
Assignment2                      Python Basics     85     B
Discussion2                      Python Basics     90     A
Assignment2   Control Structures & Collections     80     B
Discussion3   Control Structures & Collections     83     B
Assignment3   Control Structures & Collections     80     B
Discussion 4                Python Collections     90     A
Assignment4                 Python Collections     79     C
Discussion5                          Functions     85     B
Assignment5         Functions & Random Numbers     80     B
Discussion6                      Python Basics     96     A
Assignment6      Lambda Functions & Generators     88     B
Discussion7                              NumPy     98     A
Assignment7                              NumPy     95     A
Discussion8                     NumPy & Pandas     92     A
Discussion9                             Pandas     80     B
Assignment9                             Pandas     95     A

In [4]:
url = "https://www.shadowbounce.com/data/MusicArtists_100K.csv"

In [5]:
# Read csv file

uch_df = pd.read_csv(url)

In [6]:
# Display first 10 entries

uch_df.head(10)

,Unnamed: 0,mbid,artist_mb,artist_lastfm,country_mb,country_lastfm,tags_mb,tags_lastfm,listeners_lastfm,scrobbles_lastfm,ambiguous_artist
0,0,cc197bad-dc9c-440d-a5b5-d52ba2e14234,Coldplay,Coldplay,United Kingdom,United Kingdom,rock; pop; alternative rock; british; uk; brit...,rock; alternative; britpop; alternative rock; ...,5381567,360111850,False
1,1,a74b1b7f-71a5-4011-9441-d0b5e4122711,Radiohead,Radiohead,United Kingdom,United Kingdom,rock; electronic; alternative rock; british; g...,alternative; alternative rock; rock; indie; el...,4732528,499548797,False
2,2,8bfac288-ccc5-448d-9573-c33ea2aa5c30,Red Hot Chili Peppers,Red Hot Chili Peppers,United States,United States,rock; alternative rock; 80s; 90s; rap; metal; ...,rock; alternative rock; alternative; Funk Rock...,4620835,293784041,False
3,3,73e5e69d-3554-40d8-8516-00cb38737a1c,Rihanna,Rihanna,United States,Barbados; United States,pop; dance; hip hop; reggae; contemporary r b;...,pop; rnb; female vocalists; dance; Hip-Hop; Ri...,4558193,199248986,False
4,4,b95ce3ff-3d05-4e87-9e01-c97b66af13d4,Eminem,Eminem,United States,United States,turkish; rap; american; hip-hop; hip hop; hiph...,rap; Hip-Hop; Eminem; hip hop; pop; american; ...,4517997,199507511,False
5,5,95e1ead9-4d31-4808-a7ac-32c3614c116b,The Killers,The Killers,United States,NaN,synthpop; alternative rock; american; new wave...,indie; rock; indie rock; alternative; alternat...,4428868,208722092,False
6,6,164f0d73-1234-4e2c-8743-d77bf2191051,Kanye West,Kanye West,United States,United States,synthpop; pop; american; hip-hop; hip hop; ele...,Hip-Hop; rap; hip hop; rnb; Kanye West; seen l...,4390502,238603850,False
7,7,5b11f4ce-a62d-471e-81fc-a69a8278c7da,Nirvana,Nirvana,United States,United States,rock; alternative rock; 90s; punk; american; e...,Grunge; rock; alternative; alternative rock; 9...,4272894,222303859,False
8,8,9c9f1380-2516-4fc9-a3e6-f9f61941d090,Muse,Muse,United Kingdom,United Kingdom,rock; electronic; synthpop; alternative rock; ...,alternative rock; rock; alternative; Progressi...,4089612,344838631,False
9,9,0383dadf-2a4e-4d10-a46a-e9e041da8eb3,Queen,Queen,United Kingdom,United Kingdom,rock; progressive rock; 70s; 80s; 90s; pop-roc...,classic rock; rock; 80s; hard rock; glam rock;...,4023379,191711573,False

In [7]:
# Display last 10 entries

uch_df.tail(10)

,Unnamed: 0,mbid,artist_mb,artist_lastfm,country_mb,country_lastfm,tags_mb,tags_lastfm,listeners_lastfm,scrobbles_lastfm,ambiguous_artist
89795,99990,52afd739-8122-4a32-8b76-6c7113f26dd2,Wrecking Crew,Wrecking Crew,NaN,NaN,NaN,hardcore; hardcore punk; crossover; boston har...,5316,66424,True
89796,99991,039d6fdc-edcb-4c00-b62b-223e8dd520df,CAS,Cas,Denmark,Denmark; France; Germany,rap; danish; hip hop,Hip-Hop; rap; Grime; danish; hiphop; dansk rap...,5315,82346,False
89797,99992,d75e7c57-b954-40f3-bde7-6834aecc86c7,Dashboard Prophets,Dashboard Prophets,NaN,United States,NaN,rock; post-grunge; 90s; american; Buffy; alter...,5315,46692,False
89798,99993,fc41eb43-7b5b-40a3-8d68-dd5dbd6741db,Gabe Gurnsey,Gabe Gurnsey,United Kingdom,NaN,NaN,NaN,5315,37826,False
89799,99994,95c659fd-57e2-4b7d-a81b-c7f19f665b90,Jonne Valtonen,Jonne Valtonen,Finland,Finland,NaN,video game music; Soundtrack; demoscene; Class...,5315,19987,False
89800,99995,a7d745ba-9df2-48b1-9d54-1d231b5356aa,Karim,Karim,Spain,Germany; Poland,NaN,Hip-Hop; rap; Hardhouse; Hard Dance; hard hous...,5315,30362,False
89801,99996,1d4df834-f664-4891-9c8b-7d152298f2f0,LoREiN,Lorein,Poland,Poland,NaN,rock; polish; seen live; indie; alternative; i...,5315,81139,False
89802,99997,195ac281-18f8-409b-a86b-c23d0474ec73,Robyn Master,Robyn Master,NaN,NaN,NaN,NaN,5315,12307,False
89803,99998,e70ee8a7-0f52-4998-bc02-3c143f22cb88,The Breakers,The Breakers,NaN,Denmark,NaN,seen live; danish; rockabilly; rock; 60s,5315,36992,True
89804,99999,21d3f8f8-a96b-41ab-97c6-15e6217223bd,The Breakers,The Breakers,Denmark,Denmark,NaN,seen live; danish; rockabilly; rock; 60s,5315,36992,True

In [8]:
# Display records and columns of DataFrame

uch_df

,Unnamed: 0,mbid,artist_mb,artist_lastfm,country_mb,country_lastfm,tags_mb,tags_lastfm,listeners_lastfm,scrobbles_lastfm,ambiguous_artist
0,0,cc197bad-dc9c-440d-a5b5-d52ba2e14234,Coldplay,Coldplay,United Kingdom,United Kingdom,rock; pop; alternative rock; british; uk; brit...,rock; alternative; britpop; alternative rock; ...,5381567,360111850,False
1,1,a74b1b7f-71a5-4011-9441-d0b5e4122711,Radiohead,Radiohead,United Kingdom,United Kingdom,rock; electronic; alternative rock; british; g...,alternative; alternative rock; rock; indie; el...,4732528,499548797,False
2,2,8bfac288-ccc5-448d-9573-c33ea2aa5c30,Red Hot Chili Peppers,Red Hot Chili Peppers,United States,United States,rock; alternative rock; 80s; 90s; rap; metal; ...,rock; alternative rock; alternative; Funk Rock...,4620835,293784041,False
3,3,73e5e69d-3554-40d8-8516-00cb38737a1c,Rihanna,Rihanna,United States,Barbados; United States,pop; dance; hip hop; reggae; contemporary r b;...,pop; rnb; female vocalists; dance; Hip-Hop; Ri...,4558193,199248986,False
4,4,b95ce3ff-3d05-4e87-9e01-c97b66af13d4,Eminem,Eminem,United States,United States,turkish; rap; american; hip-hop; hip hop; hiph...,rap; Hip-Hop; Eminem; hip hop; pop; american; ...,4517997,199507511,False
...,...,...,...,...,...,...,...,...,...,...,...
89800,99995,a7d745ba-9df2-48b1-9d54-1d231b5356aa,Karim,Karim,Spain,Germany; Poland,NaN,Hip-Hop; rap; Hardhouse; Hard Dance; hard hous...,5315,30362,False
89801,99996,1d4df834-f664-4891-9c8b-7d152298f2f0,LoREiN,Lorein,Poland,Poland,NaN,rock; polish; seen live; indie; alternative; i...,5315,81139,False
89802,99997,195ac281-18f8-409b-a86b-c23d0474ec73,Robyn Master,Robyn Master,NaN,NaN,NaN,NaN,5315,12307,False
89803,99998,e70ee8a7-0f52-4998-bc02-3c143f22cb88,The Breakers,The Breakers,NaN,Denmark,NaN,seen live; danish; rockabilly; rock; 60s,5315,36992,True
89804,99999,21d3f8f8-a96b-41ab-97c6-15e6217223bd,The Breakers,The Breakers,Denmark,Denmark,NaN,seen live; danish; rockabilly; rock; 60s,5315,36992,True

In [9]:
# Display all column names and DataFrame indices

all_columns = uch_df.columns

print(f"Column names: \n", "\n", all_columns)

Column names:

 Index(['Unnamed: 0', 'mbid', 'artist_mb', 'artist_lastfm', 'country_mb',
       'country_lastfm', 'tags_mb', 'tags_lastfm', 'listeners_lastfm',
       'scrobbles_lastfm', 'ambiguous_artist'],
      dtype='object')

In [10]:
# Display data types of all columns

uch_df.dtypes

Unnamed: 0           int64
mbid                object
artist_mb           object
artist_lastfm       object
country_mb          object
country_lastfm      object
tags_mb             object
tags_lastfm         object
listeners_lastfm     int64
scrobbles_lastfm     int64
ambiguous_artist      bool
dtype: object

In [11]:
# Display number of different artist


artist_num = uch_df[["artist_mb", "artist_lastfm"]]

print(f"\nNumber of different artist in DataFrame:\n\n")
artist_num.nunique()

Number of different artist in DataFrame:

artist_mb        75279
artist_lastfm    73449
dtype: int64

In [17]:
# Most frequent artist in the data set

artist_num.describe()

       artist_mb artist_lastfm
count      89802         89801
unique     75279         73449
top        Karma         Karma
freq          25            26

In [16]:
# Display categorical columns info
# Summarize properties

cat_columns = uch_df[["mbid", "artist_mb", "artist_lastfm", "country_mb", "country_lastfm", "tags_mb", "tags_lastfm"]]

cat_columns.describe()

,mbid,artist_mb,artist_lastfm,country_mb,country_lastfm,tags_mb,tags_lastfm
count,89805,89802,89801,66564,66496,27548,82131
unique,89805,75279,73449,181,4950,14693,66243
top,cc197bad-dc9c-440d-a5b5-d52ba2e14234,Karma,Karma,United States,United States,jazz,electronic; downtempo; dance; acid jazz; loung...
freq,1,25,26,22088,11738,864,26

In [15]:
# Display numerial columns info
# Summarize properties

uch_df.describe()

         Unnamed: 0  listeners_lastfm  scrobbles_lastfm
count  89805.000000      8.980500e+04      8.980500e+04
mean   49696.107789      6.301318e+04      1.274025e+06
std    30431.244110      1.879181e+05      7.575921e+06
min        0.000000      5.315000e+03      7.697000e+03
25%    22451.000000      8.274000e+03      6.707600e+04
50%    44902.000000      1.880300e+04      1.688780e+05
75%    77548.000000      4.574800e+04      5.343190e+05
max    99999.000000      5.381567e+06      5.171263e+08

In [14]:
# Identify all columns with missing entries

uch_df.isna()

,Unnamed: 0,mbid,artist_mb,artist_lastfm,country_mb,country_lastfm,tags_mb,tags_lastfm,listeners_lastfm,scrobbles_lastfm,ambiguous_artist,is_USA_based_mb
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
89800,False,False,False,False,False,False,True,False,False,False,False,False
89801,False,False,False,False,False,False,True,False,False,False,False,False
89802,False,False,False,False,True,True,True,True,False,False,False,False
89803,False,False,False,False,True,False,True,False,False,False,False,False
89804,False,False,False,False,False,False,True,False,False,False,False,False

In [13]:
# Display number of missing entries in each column

uch_df.isna().sum()

Unnamed: 0              0
mbid                    0
artist_mb               3
artist_lastfm           4
country_mb          23241
country_lastfm      23309
tags_mb             62257
tags_lastfm          7674
listeners_lastfm        0
scrobbles_lastfm        0
ambiguous_artist        0
is_USA_based_mb         0
dtype: int64

In [42]:
# Extract records of all artists 
# Whose names start with the letter "b"
# First remove all NaN values from the database


uch_df = uch_df.dropna()

uch_df.isna().sum()

Unnamed: 0             0
mbid                   0
artist_mb              0
artist_lastfm          0
country_mb             0
country_lastfm         0
tags_mb                0
tags_lastfm            0
listeners_lastfm       0
scrobbles_lastfm       0
ambiguous_artist       0
is_USA_based_mb        0
is_USA_based_lastfm    0
dtype: int64

In [49]:
# Extract records of all artists 
# Whose names start with the letter "b"
# Next step using startswith()


uch_df = uch_df[uch_df["artist_mb"].str.startswith("b")]
uch_df

,Unnamed: 0,mbid,artist_mb,artist_lastfm,country_mb,country_lastfm,tags_mb,tags_lastfm,listeners_lastfm,scrobbles_lastfm,ambiguous_artist,is_USA_based_mb,is_USA_based_lastfm
10471,10471,35e991b9-abf7-41dc-ab0e-0ca947463808,bob hund,bob hund,Sweden,Sweden,rock; swedish; indie,seen live; swedish; indie rock; rock; indie,104959,3599799,False,No,No
14580,14580,d415628d-8c84-453b-8a75-4816b088dbc9,blackmail,Blackmail,Germany,Germany,german; indie rock,seen live; indie; alternative; alternative roc...,74244,2524427,False,No,No
30535,30535,7dafc8b7-8d46-49b7-bc48-558b1fd181e9,bird,Bird,Japan,Japan,japanese; likedis auto,japanese; j-pop; soul; female vocalists; jazz,31127,527251,True,No,No
34802,34802,01933577-7393-4af7-9b36-c7f7a5662583,beNUTS,beNUTS,Germany,Germany,ska,ska; ska punk; german; seen live; ska-punk,26577,279011,False,No,No
43478,43478,008644d6-ae4d-46d4-b60f-f27956a6ca1d,beZ bileta,,Belarus,Belarus,rock; indie rock; russian; indie pop; romantic...,belarus; rock; indie; romantic; indie pop,19669,508066,False,No,No
49641,59836,d921784e-7fdd-47f2-8ddf-b8254355230d,byron,byron,Romania,Romania,romanian; romanian band,seen live; Romanian; creative commons; Progres...,12428,319869,False,No,No
62047,72242,3330d920-689e-40aa-94cf-96a86217272a,bodyslam,Bodyslam,Thailand,Thailand,alternative rock,thai; thai rock; rock; Asian; bodyslam,9254,454521,False,No,No

In [50]:
# Extract records of all artists 
# Whose names start with the letter "b"
# Next select columns of artist_mb, artist_lastfm to show extracted b names

uch_df[["artist_mb", "artist_lastfm"]]

        artist_mb artist_lastfm
10471    bob hund      bob hund
14580   blackmail     Blackmail
30535        bird          Bird
34802      beNUTS        beNUTS
43478  beZ bileta
49641       byron         byron
62047    bodyslam      Bodyslam

In [51]:
# Add a new column is_USA_based to the DataFrame
# With Yes or No as it's content
# Depending on the country of origin of the artist

uch_df["is_USA_based_mb"] = np.where(
                  uch_df["country_mb"] == "United States",
                  "Yes",
                  "No"
)

In [21]:
uch_df

,Unnamed: 0,mbid,artist_mb,artist_lastfm,country_mb,country_lastfm,tags_mb,tags_lastfm,listeners_lastfm,scrobbles_lastfm,ambiguous_artist,is_USA_based_mb
0,0,cc197bad-dc9c-440d-a5b5-d52ba2e14234,Coldplay,Coldplay,United Kingdom,United Kingdom,rock; pop; alternative rock; british; uk; brit...,rock; alternative; britpop; alternative rock; ...,5381567,360111850,False,No
1,1,a74b1b7f-71a5-4011-9441-d0b5e4122711,Radiohead,Radiohead,United Kingdom,United Kingdom,rock; electronic; alternative rock; british; g...,alternative; alternative rock; rock; indie; el...,4732528,499548797,False,No
2,2,8bfac288-ccc5-448d-9573-c33ea2aa5c30,Red Hot Chili Peppers,Red Hot Chili Peppers,United States,United States,rock; alternative rock; 80s; 90s; rap; metal; ...,rock; alternative rock; alternative; Funk Rock...,4620835,293784041,False,Yes
3,3,73e5e69d-3554-40d8-8516-00cb38737a1c,Rihanna,Rihanna,United States,Barbados; United States,pop; dance; hip hop; reggae; contemporary r b;...,pop; rnb; female vocalists; dance; Hip-Hop; Ri...,4558193,199248986,False,Yes
4,4,b95ce3ff-3d05-4e87-9e01-c97b66af13d4,Eminem,Eminem,United States,United States,turkish; rap; american; hip-hop; hip hop; hiph...,rap; Hip-Hop; Eminem; hip hop; pop; american; ...,4517997,199507511,False,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
89800,99995,a7d745ba-9df2-48b1-9d54-1d231b5356aa,Karim,Karim,Spain,Germany; Poland,NaN,Hip-Hop; rap; Hardhouse; Hard Dance; hard hous...,5315,30362,False,No
89801,99996,1d4df834-f664-4891-9c8b-7d152298f2f0,LoREiN,Lorein,Poland,Poland,NaN,rock; polish; seen live; indie; alternative; i...,5315,81139,False,No
89802,99997,195ac281-18f8-409b-a86b-c23d0474ec73,Robyn Master,Robyn Master,NaN,NaN,NaN,NaN,5315,12307,False,No
89803,99998,e70ee8a7-0f52-4998-bc02-3c143f22cb88,The Breakers,The Breakers,NaN,Denmark,NaN,seen live; danish; rockabilly; rock; 60s,5315,36992,True,No
89804,99999,21d3f8f8-a96b-41ab-97c6-15e6217223bd,The Breakers,The Breakers,Denmark,Denmark,NaN,seen live; danish; rockabilly; rock; 60s,5315,36992,True,No

In [54]:
# Add a new column is_USA_based to the DataFrame
# With Yes or No as it's content
# Depending on the country of origin of the artist

uch_df["is_USA_based_lastfm"] = np.where(
                  uch_df["country_lastfm"] == "United States",
                  "Yes",
                  "No"
)

In [55]:
uch_df

,Unnamed: 0,mbid,artist_mb,artist_lastfm,country_mb,country_lastfm,tags_mb,tags_lastfm,listeners_lastfm,scrobbles_lastfm,ambiguous_artist,is_USA_based_mb,is_USA_based_lastfm
10471,10471,35e991b9-abf7-41dc-ab0e-0ca947463808,bob hund,bob hund,Sweden,Sweden,rock; swedish; indie,seen live; swedish; indie rock; rock; indie,104959,3599799,False,No,No
14580,14580,d415628d-8c84-453b-8a75-4816b088dbc9,blackmail,Blackmail,Germany,Germany,german; indie rock,seen live; indie; alternative; alternative roc...,74244,2524427,False,No,No
30535,30535,7dafc8b7-8d46-49b7-bc48-558b1fd181e9,bird,Bird,Japan,Japan,japanese; likedis auto,japanese; j-pop; soul; female vocalists; jazz,31127,527251,True,No,No
34802,34802,01933577-7393-4af7-9b36-c7f7a5662583,beNUTS,beNUTS,Germany,Germany,ska,ska; ska punk; german; seen live; ska-punk,26577,279011,False,No,No
43478,43478,008644d6-ae4d-46d4-b60f-f27956a6ca1d,beZ bileta,,Belarus,Belarus,rock; indie rock; russian; indie pop; romantic...,belarus; rock; indie; romantic; indie pop,19669,508066,False,No,No
49641,59836,d921784e-7fdd-47f2-8ddf-b8254355230d,byron,byron,Romania,Romania,romanian; romanian band,seen live; Romanian; creative commons; Progres...,12428,319869,False,No,No
62047,72242,3330d920-689e-40aa-94cf-96a86217272a,bodyslam,Bodyslam,Thailand,Thailand,alternative rock,thai; thai rock; rock; Asian; bodyslam,9254,454521,False,No,No

In [27]:
# Selecting columns to show artist, country, and artist based in the USA
artist_is_USA_based = uch_df[["artist_mb", "artist_lastfm", "country_mb", "country_lastfm", "is_USA_based_mb", "is_USA_based_lastfm"]]

In [56]:
artist_is_USA_based

,artist_mb,artist_lastfm,country_mb,country_lastfm,is_USA_based_mb,is_USA_based_lastfm
0,Coldplay,Coldplay,United Kingdom,United Kingdom,No,No
1,Radiohead,Radiohead,United Kingdom,United Kingdom,No,No
2,Red Hot Chili Peppers,Red Hot Chili Peppers,United States,United States,Yes,Yes
3,Rihanna,Rihanna,United States,Barbados; United States,Yes,No
4,Eminem,Eminem,United States,United States,Yes,Yes
...,...,...,...,...,...,...
89800,Karim,Karim,Spain,Germany; Poland,No,No
89801,LoREiN,Lorein,Poland,Poland,No,No
89802,Robyn Master,Robyn Master,NaN,NaN,No,No
89803,The Breakers,The Breakers,NaN,Denmark,No,No
89804,The Breakers,The Breakers,Denmark,Denmark,No,No