In [12]:
# Program to remove an item from a tuple
uche_tuple = (2, 8, 5, 3)
print("Uche Tuple: ", uche_tuple, "\n")
# Tuples are immutable
# Convert tuple to list
uche_tuple_list = list(uche_tuple)
print(type(uche_tuple_list))
print(uche_tuple_list)

# Remove item from list
uche_tuple_list.remove(8)
print(uche_tuple_list)

# Create new tuple without the removed item
# Convert list to tuple
new_uche_tuple = tuple(uche_tuple_list)
print("\nNew Uche Tuple: ", new_uche_tuple)

Uche Tuple:  (2, 8, 5, 3)

<class 'list'>
[2, 8, 5, 3]
[2, 5, 3]

New Uche Tuple:  (2, 5, 3)

In [1]:
# Program to compute element-wise
# Sum of three given tuples

uche_tuple_1 = 5, 6, 8, 4
uche_tuple_2 = 3, 4, 1, 7
uche_tuple_3 = 9, 2, 0, 1

sum_uche_tuple = tuple(map(sum, zip(uche_tuple_1, uche_tuple_2, uche_tuple_3)))

print("Element-wise sum of the three given tuples: ", sum_uche_tuple)

Element-wise sum of the three given tuples:  (17, 12, 9, 12)

In [13]:
def dict_invert(course_scores):
    """Function to invert a given dict with non-hashable values
    So that unique values become keys
    Keys become values
    Create dictionary"""

    new_course_scores = {}
    for k, v in course_scores.items():
        new_course_scores.setdefault(v, []).append(k)
    return new_course_scores

course_scores = {
     93: "Computer Science", 96: "Algebra", 90: "Statistics", 98: "Trigonometry",
     88: "Computer Science", 85: "Algebra", 75: "Statistics", 95: "Trigonometry",
     78: "Computer Science", 79: "Algebra", 80: "Statistics", 90: "Trigonometry",
     84: "Computer Science", 87: "Algebra", 75: "Statistics", 92: "Trigonometry"
 }

In [14]:
print("Find the inverted ductionary with non-hashable values below: \n  ")
print("new_course_scores = ", dict_invert(course_scores))

Find the inverted ductionary with non-hashable values below:

new_course_scores =  {'Computer Science': [93, 88, 78, 84], 'Algebra': [96, 85, 79, 87], 'Trigonometry': [90, 98, 95, 92], 'Statistics': [75, 80]}

In [10]:
# Import Counter from collections
from collections import Counter

def uche_countfreq(grades):
    #This function counts and displays the frequency of values in any given dictionary. 

        count_grades = Counter(grades.values())
        return count_grades

grades = {
    "Intro to Data Science": "A",
    "Python Basics 1": "A",
    "Python Basics 2": "B",
    "Control Structures & Collections 1": "B",
    "Control Structures & Collections 2": "A",
    "Python Collections 1": "A",
    "Python Collections 2": "A",
    "Functions": "A",
    "Functions & Random Numbers": "B"
}

In [11]:
print("Display the frequency of values in grades:")
uche_countfreq(grades)

Display the frequency of values in grades:

Counter({'A': 6, 'B': 3})